body {
   background-image:
url("background.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
}

h1 {
    color: #2e8b57;
    text-align: center;
}

h2 {
    color: #18e418;
}

nav {
    background-color: #2e8b57;
    padding: 10px;
    text-align: center;
}

nav a {
    color: rgb(20, 218, 63);
    text-decoration: none;
    margin: 15px;
    font-weight: bold;
}

nav a:hover {
    color: rgb(239, 239, 17);
}

img {
    display: block;
    margin: 10px auto;
    border-radius: 10px;
}

table {
    width: 70%;
    margin: auto;
    border-collapse: collapse;
}

table, th, td {
    border: 1px solid rgb(233, 15, 193);
}

th {
    background-color: #2e8b57;
    color: rgb(240, 23, 121);
}

th, td {
    padding: 10px;
    text-align: center;
}

form {
    width: 50%;
    margin: auto;
}

input[type="text"],
input[type="email"] {
    width: 100%;
    padding: 8px;
}

input[type="submit"] {
    background-color: #2e8b57;
    color: rgb(51, 17, 220);
    padding: 10px;
    border: none;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: #228b22;
}

footer {
    text-align: center;
    margin-top: 20px;
}